/Java3/homeWork_1/out/
/Java3/homeWork_2/out/
/Java3/homeWork_3/target/
/Java3/homeWork_2/chatServer/target/
/Java3/homeWork_2/chatClient/target/
/Java3/homeWork_3/homeWork_3.iml

*.class
*.iml
/target/
